*{
    margin: 0;
    padding: 0;
}
.poke_cuerpo{
    z-index: 1;
    height: 90vmax;
    margin: 10px 5px;
    border-radius: 10px;
    /* width: 95vmax; */
    background-color: #940000
}
.poke_superior{
    width: 100%;
    height: 15%;
    border-radius: 10px;
    clip-path: polygon(100% 0, 100% 35%, 63% 35%, 33% 70%, 0 70%, 0 0);
    background-color: #b10101;
    z-index: 10;
}
.b_superior{
    z-index: 15;
    /* height: 2em; */
    font-size: 1em;
    border-radius: 50%;
    padding:20px 25px;
    color: #64bcdf;
    background-color: #64bcdf;
    margin: .5em 0 0 .5em;
}

.b_superior_1 button{
    font-size: 1em;
    border-radius: 50%;
    padding:0px 7px;
    margin-left: 8px;
}
.b1{
    color: #ff1d1d;
    background-color: #ff1d1d;
}
.b2{
    color: #ffe818;
    background-color: #ffe818;
}
.b3{
    color: #65e000;
    background-color: #65e000;
}
/* .poke_superior .b_superior{
    z-index: 15;
    width: 4em;
    height: 70%;
    margin-left: 1em;
    clip-path: circle();
    background-color: silver;
    position: relative;
    display: inline-block;
} */
/* .poke_superior .b_superior div{
    z-index: 20;
    top: 1em;
    width: 3.5em;
    height: 60%;
    margin-left: .3em;
    /* margin-top: .5em; */
    /* clip-path: circle();
    position: absolute;
    background-color: #530101; */
/* }  */

.b_superior_1{
    /* z-index: 30; */
    background-color: #b10101;
    display: inline-block;
}
.poke_informacion{
    background-color: silver;
    width: 85%;
    height: 30%;
    margin: 0 auto;
    border-radius: 12px;
    border: 1rem solid #fafafa;
}
.poke_botones{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 35%;
    width: 90%;
    margin: 10% auto;
}
.btn_poke_ramdom{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1em;
    border-radius: 50%;
    background-color: #5e5e5e;
}
.btn_poke_ramdom::after{
    content: "\027a4";
    font-size: 2em;
    display: inline-block;
    color: #2e2e2e;
}
.btn_poke_lujo{
    height: 1.5em;
    width: 90%;
    margin: auto auto;
    background-color: #ffe818;
    border-radius: 10px;
}
.btn_poke_retroceder{
    grid-column: 4/5;
    grid-row: 2/3;
    height: 4em;
    margin: auto 0;
    background-color: #5e5e5e;
    border-radius: 10px 0 0 10px;
}
.btn_poke_retroceder::after{
    content: "\025c0";
    font-size: 2em;
    display: inline-block;
    color: #2e2e2e;
}
.btn_poke_avanzar{
    grid-column: 5/6;
    grid-row: 2/3;
    height: 4em;
    margin: auto 0;
    background-color: #5e5e5e;
    border-radius: 0 10px 10px 0;
}
.btn_poke_avanzar::after{
    content: "\025b6";
    font-size: 2em;
    display: inline-block;
    color: #2e2e2e;
}
.poke_descripcion{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: #62830a;
    border-radius: 5px;
}